name: post-merge

on:
  push:
    branches: [main]

permissions:
  contents: read

env:
  NX_DAEMON: false

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint
        run: npx nx affected -t lint --parallel=3 --base=origin/main
      - name: Test
        run: npx nx affected -t test --parallel=3 --base=origin/main
      - name: Build
        run: npx nx affected -t build --parallel=3 --base=origin/main
